<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="Union"
         name="結合プロジェクト"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         id="Union.Editor"
         point="org.eclipse.ui.editors">
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Union.command.category"
            name="カテゴリー1">
      </category>
      <command
            categoryId="Union.command.category"
            id="Union.commands.detect"
            name="違反検出コマンド">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="handler.Detect"
            commandId="Union.commands.detect">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="Union.category.views"
            name="ビュー用のカテゴリー">
      </category>
      <view
            category="Union.category.views"
            class="views.View"
            icon="icon/プログラムアイコン.png"
            id="Union.ErrorView"
            name="エラー表示用ビュー"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:Union.ErrorView?after=additions">
         <command
               commandId="Union.commands.detect"
               icon="icon/プログラムアイコン.png"
               id="Union.command.toolbar"
               label="結合用ツールバー"
               style="push">
         </command>
         <toolbar
               id="Union.toolbar1">
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
